/* Simple dashboard grid CSS */

/* Assign grid instructions to our parent grid container */
body {
    margin:0px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Side nav is hidden on mobile */
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }
  .header {
    grid-area: header;
  }
  
  .main {
    grid-area: main;
    /* background-color: #8fd4d9; */
  }
  
  .footer {
    grid-area: footer;
  }
  .header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #282c34;
    color: white;
    font-size: calc(15px + 2vmin);
  }